<div class="row">
	<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto mt-4">
		<div class="form-login ">
			<form action="" class="form-group ">
				<div class="form-group">
					<label for="">Email Address</label>
					<input type="Email" class="form-control" id="email" placeholder="Email">
					<label for="" class="mt-2">Password</label>
					<input type="password" class="form-control" id="password" placeholder="password">
					<small id="passwordHelpInline" class="text-muted">Must be 8-20 characters long.</small>
				</div>

				<div class="div form-check">
					<input type="checkbox" class="form-check-input" id="input-checkbox">
					<label class="form-check-label" >Remember me</label>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>

		</div>
	</div>
</div>